<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<div  class="ui form">
  <form method="get" accept-charset="UTF-8", class="three inline fields">
    <div class="five wide field">
      <%= label_tag 'starttime' %>
      <%= datetime_local_field 'query', 'starttime' %>
    </div>
    <div class="five wide field">
      <%= label_tag 'endtime' %>
      <%= datetime_local_field 'query', 'endtime' %>
    </div>
    <div class="three wide field">
      <%= submit_tag 'Filter' , :class => 'ui teal button' %>
    </div>
  </form>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Men</th>
      <th>Location</th>
      <th>UID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.starttime.to_s(:yee) %></td>
        <td><%= activity.endtime.to_s(:yee) %></td>
        <td><%= activity.men %></td>
        <td><%= activity.location %></td>
        <td><%= activity.user_id %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path , :class => 'ui pink button' %>
