<!DOCTYPE html>
<html>
<head>
  <title>Weidali</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'home', root_path %> | 
<%= link_to 'activities', activities_path %> | 
<% if user_signed_in? %>
<%= link_to 'logout', sign_out_path %> |
<% else %>
<%= link_to 'login', sign_in_path %> |
<% end %>


<%= yield %>

</body>
</html>
